

/* Importaciones */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


/* Reglas generales */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
}

.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;
}

.seccion-descripcion{
    font-size: 1.2rem;
    color: #584e4e;
}

.seccion-texto{
    font-size: 1.2rem;
}

/* Seccion Hero */

.hero-principal{
    padding: 3rem;
    .hero-imagen{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid black;
        margin: 20px;
    }
}

.hero-principal h2{
    color: #615151;
    font-size: 1.5rem;
}

/* Barra de navegacion */
.navbar{
    padding: 2rem;
    background-color: #f5f6f7;
    .navbar-collapse{
        align-items: center;
        justify-content: space-between;
    }
}

/* Sobre mí */
.sobre-mi{
    height: 600px;
    padding: 20px;
}

.sobre-mi .contenedor{
    max-width: 600px;
    text-align: center;
}

/* Sobre mi portafolio */
.sobre-mi-portafolio{
    height: 1550px;
    padding: 20px;
}

.sobre-mi-portafolio .contenedor{
    max-width: 800px;
    text-align: center;
}

/* Pie de página */
.seccion-oscura{
    background-color: #1b1b32;
    color:white;
}


footer{
    min-height: 500px;
    .footer-logo{
        height: 80px;
        width: 80px;
        margin: 10px;
    }
    .footer-texto{
        font-size: 1.5rem;
        padding: 20px;
        margin-bottom: 30px;
        font-family: 'Quicksand', sans-serif;
    }
    .iconos-redes-sociales{
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;
        margin: 2px;
    }
    .iconos-redes-sociales i{
        transition: all 0.2s ease-in;
        color: white;
        font-size: 1.5rem;
        padding: 10px;
        margin: 10px;
        border-radius: 50%;
        border: 2px solid white;

    }
    .iconos-redes-sociales a:hover i {
        color: black;
        background-color: white;
        border: 2px solid rgb(13, 110, 253);
    }

    .derechos-de-autor{
        font-size: 15px;
        color: #aeaeae;
        padding: 20px;
    }
}

/* Seccion hero */
.hero{
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero-inferior{
    margin-bottom: 20px;
}

/* Sección mi CV */
.cv-titles{
    font-family: 'Inconsolata', monospace;
    padding-bottom: 20px;
}
.cv-info{
    background-color: #f5f6f7;
    min-height: 200px;
    padding-bottom: 50px;
}
.cv-formacion{
   background-color: #f5f6f7;
    padding-bottom: 20px;
}
.cv-objetivos{
    background-color: #D6DBDF;
    min-height: 150px;
    padding-bottom: 20px;
}

.cv-expe{
    background-color: #D6DBDF;
    padding-bottom: 20px;
}

.cv-habilidades{
    background-color: #f5f6f7;
    padding-bottom: 20px;
}

.cv-tecno{
    background-color: #D6DBDF;
    padding-bottom: 20px;
}

/* Proyectos */
.proyectos-recientes{
  padding: 40px;  
}

.seccion-clara{
   color: black;
   background-color: white;
}

.texto-negro{
    color: black;
}

.texto-blanco{
    color: white;
}

.proyectos-recientes img{
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}

.proyectos-contenedor{
    padding-top: 60px;
    margin-bottom: 40px; 
}

.overlay{
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

/* Para asignarle un estilo a .overlay cuando el mouse esté dentro de proyecto */
.proyecto{
    position: relative;
}
.proyecto:hover img{
    opacity: 0.2;
}
.proyecto:hover .overlay{
    opacity: 1; /* totalmente opaco */
}

.overlay .iconos-contenedor{
    display: flex;
}

.overlay i{
    color: black;
    font-size: 60px;
    margin: 10px;
}


/* Seccion contacto */
.btn-secondary{
    font-size: 1.1rem;
    margin: 20px;
}

.contacto{
    background-color: #D6DBDF;
    color: slategray;
    font-family: 'Playfair Display', serif;
}


/* Adaptable responsivo */
@media screen and (max-width: 992px){
    /* para ocultar el icono java cuando el menú es reducido en dispositivos menores a 767px
    .navbar-brand{
    display: none;
}
    */
    .sobre-mi-portafolio{
        min-height: 1800px;
    }
}

@media screen and (max-width: 767px){
    .sobre-mi-portafolio{
       min-height: 2500px; 
    } 
}

@media screen and (max-width: 524px){
    .sobre-mi-portafolio{
       min-height: 2600px; 
    } 
}

@media screen and (max-width: 518px){
    .sobre-mi-portafolio{
       min-height: 2800px; 
    } 
}

@media screen and (max-width: 486px){
    .sobre-mi-portafolio{
       min-height: 3000px; 
    } 
}

@media screen and (max-width: 456px){
    .sobre-mi-portafolio{
       min-height: 3300px; 
    } 
}

@media screen and (max-width: 428px){
    .sobre-mi-portafolio{
       min-height: 3400px; 
    } 
    
    .overlay p{
        font-size: 18px;
    }
    
    .overlay i{
        font-size: 40px;
    }
}
@media screen and (max-width: 415px){
    .sobre-mi-portafolio{
       min-height: 3600px; 
    } 
}
@media screen and (min-width: 700px){
    .hero-inferior-imagen{
        max-width: 600px;
    }
}